<div id="top" class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Ideas Box</h3>
  </div>

  <div class="input-group col-md-6 col-xs-12 search">
      <form class="form-inline">
        <div class="row">
          <div class="form-group col-xs-8">
            <input id="searchBar" type="text" class="form-control" placeholder="Search" />
          </div>
          <div class="col-xs-4">
            <button type="button" id="clearSearch" class="btn btn-primary">Clear</button>
          </div>
        </div>
      </form>
  </div>

  <div class="col-md-6 col-xs-12 sort">
    <small class="text-muted order-label">Sort By Quality:</small>
    <div class="btn-group orderGroup" role="group" aria-label="Basic example">
      <button id="swill" type="button" class="btn btn-primary">Sort</button>
    </div>
  </div>
  <div class="col-xs-12">
    <h5 class="text-muted">View by tag</h5>
    <div class="tags"></div>
  </div>

  <div class="col-xs-12">
    <div class="row marketing idea-form">
      <h5 class="text-muted">Create a new Idea</h5>
      <fieldset class="form-group">
        <input type="text" class="form-control" id="newTitle" placeholder="Title">
      </fieldset>
      <fieldset class="form-group">
        <textarea class="form-control" id="newBody" rows="3" placeholder="description"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <input type="text" class="form-control" id="newTags" placeholder="Enter tags seperated by commas">
      </fieldset>
      <button id="submit" class="btn btn-primary">Save</button>
    </div>
  </div>

  <div class="row marketing ideas"></div>

  <footer class="footer">
    <p><a href="#top">Go to top</a></p>
  </footer>

</div> <!-- /container -->
